<div class="mat-app-background">
  <div class="grid-container">
    <mat-grid-list cols="3" rowHeight="350px">
      <mat-grid-tile *ngFor="let user of users.data">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              User
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>{{user.first_name}} {{user.last_name}} {{user.email}}</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>